<template>
  <div class="post-item">
    <h3 class="post-item__title">{{ title }}</h3>
    <p class="post-item__text">{{ text }}</p>
    <p class="post-item__author">{{ author}}</p>
  </div>
</template>

<script>
export default {
  name: "PostItem",
  props: {
    title:{
      required: true,
      type: String
    },
    text: {
      required: true,
      type: String
    },
    author: {
      required: true,
      type: String
    }
  }
}
</script>

<style scoped>

</style>