@import 'bootstrap/dist/css/bootstrap.min'

.post-list
  display: grid
  gap: 30px
  grid-template-columns: 1fr 1fr 1fr
  margin-top: 30px
  margin-bottom: 30px
  @media (max-width: 992px)
    grid-template-columns: 1fr 1fr
  @media (max-width: 768px)
    grid-template-columns: 1fr


  .post-item
    background: white
    padding: 10px
    cursor: pointer
    height: auto
    display: flex
    flex-direction: column
    border: 1px solid #555e6d
    .post-item__title
      color: #3ba2ff
      margin-bottom: 15px
      font-size: 18px
      &:first-letter
        text-transform: capitalize
    .post-item__text
      line-height: 160%
      flex-grow: 1
      &:first-letter
        text-transform: capitalize
    .post-item__author
      margin-bottom: 0
      color: #555e6d

.search
  width: calc(33% - 15px)
  margin: 0 auto
  @media (max-width: 992px)
    width: 50%
  @media (max-width: 768px)
    width: 75%


body
  background: #ecf1f6

#app
  padding: 50px 0
    background: #ecf1f6

