<template>
  <div id="app">
    <div class="container">
      <div class="input-group search flex-nowrap">
        <span class="input-group-text">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
        <input type="text" class="form-control" placeholder="Filter by author..." v-model="activeFilter">
      </div>
      <div class="post-list">
        <PostItem v-for="(post, i) in filteredPost" :author="getAuthor(post.userId)" :text="post.body" :title="post.title" :key="i" />
      </div>
    </div>
  </div>
</template>

<script>
import PostItem from './components/PostItem.vue'
import { mapActions, mapGetters } from "vuex";

export default {
  name: 'App',
  components: {
    PostItem
  },
  data(){
    return {
      activeFilter: '',
    }
  },
  methods:{
  ...mapActions(['receiveAuthors','receivePost']),

  },
  computed:{
  ...mapGetters(['getPosts','getAuthors', 'getAuthor']),
    filteredPost(){
      let filterRegEx = new RegExp(`${this.activeFilter}`, 'gi')
      let filterArr = []

      this.getAuthors.forEach((author) => {
        filterRegEx.test(author.name) ? filterArr.push(author.id) : null
      })

      let filteredPosts = this.getPosts.filter((post) => {
        let id = post.userId
        return filterArr.includes(id)
      })

      return filteredPosts
    }
  },
  created() {
    this.receivePost()
    this.receiveAuthors()
  },
}
</script>

<style lang="sass">
  @import "assets/style"
</style>
